# Import Libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression

In [2]:
df = pd.read_csv("C:\\spam.csv", encoding='ISO-8859-1')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [3]:
df.isnull()
df.head(10)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
5,spam,FreeMsg Hey there darling it's been 3 week's n...,NaN,NaN,NaN
6,ham,Even my brother is not like to speak with me. ...,NaN,NaN,NaN
7,ham,As per your request 'Melle Melle (Oru Minnamin...,NaN,NaN,NaN
8,spam,WINNER!! As a valued network customer you have...,NaN,NaN,NaN
9,spam,Had your mobile 11 months or more? U R entitle...,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [5]:
df.shape

(5572, 5)

In [6]:
df.loc[df['v2'] == 'spam','v2',]= 0

df.loc[df['v2'] == 'ham','v2',]= 1

In [7]:
x = df['v1']

y = df['v2']

In [8]:
print(x)

0        ham
1        ham
2       spam
3        ham
4        ham
        ...
5567    spam
5568     ham
5569     ham
5570     ham
5571     ham
Name: v1, Length: 5572, dtype: object

In [9]:
print(y)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: v2, Length: 5572, dtype: object

In [10]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state =3)

df.head(10)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
5,spam,FreeMsg Hey there darling it's been 3 week's n...,NaN,NaN,NaN
6,ham,Even my brother is not like to speak with me. ...,NaN,NaN,NaN
7,ham,As per your request 'Melle Melle (Oru Minnamin...,NaN,NaN,NaN
8,spam,WINNER!! As a valued network customer you have...,NaN,NaN,NaN
9,spam,Had your mobile 11 months or more? U R entitle...,NaN,NaN,NaN

In [11]:
print(x.shape)

print(x_train.shape)

print(x_test.shape)

(5572,)
(4457,)
(1115,)

In [12]:
print(y.shape)

print(y_train.shape)

print(y_test.shape)

(5572,)
(4457,)
(1115,)

In [13]:
feature_extraction = TfidfVectorizer(min_df=1, stop_words='english', lowercase=True)

x_train_features = feature_extraction.fit_transform(x_train)

x_test_features = feature_extraction.fit_transform(x_test)  

y_train = y_train.astype('string')
y_test = y_test.astype('string')

In [14]:
print(x_train)

3075    ham
1787    ham
1614    ham
4304    ham
3266    ham
       ...
789     ham
968     ham
1667    ham
3321    ham
1688    ham
Name: v1, Length: 4457, dtype: object

In [15]:
print(x_train_features)

  (0, 0)	1.0
  (1, 0)	1.0
  (2, 0)	1.0
  (3, 0)	1.0
  (4, 0)	1.0
  (5, 0)	1.0
  (6, 0)	1.0
  (7, 1)	1.0
  (8, 0)	1.0
  (9, 0)	1.0
  (10, 0)	1.0
  (11, 1)	1.0
  (12, 0)	1.0
  (13, 1)	1.0
  (14, 0)	1.0
  (15, 0)	1.0
  (16, 0)	1.0
  (17, 0)	1.0
  (18, 0)	1.0
  (19, 0)	1.0
  (20, 0)	1.0
  (21, 0)	1.0
  (22, 0)	1.0
  (23, 0)	1.0
  (24, 0)	1.0
  :	:
  (4432, 0)	1.0
  (4433, 0)	1.0
  (4434, 0)	1.0
  (4435, 0)	1.0
  (4436, 0)	1.0
  (4437, 0)	1.0
  (4438, 0)	1.0
  (4439, 0)	1.0
  (4440, 1)	1.0
  (4441, 0)	1.0
  (4442, 0)	1.0
  (4443, 0)	1.0
  (4444, 0)	1.0
  (4445, 0)	1.0
  (4446, 0)	1.0
  (4447, 0)	1.0
  (4448, 0)	1.0
  (4449, 0)	1.0
  (4450, 1)	1.0
  (4451, 0)	1.0
  (4452, 0)	1.0
  (4453, 0)	1.0
  (4454, 0)	1.0
  (4455, 0)	1.0
  (4456, 0)	1.0

In [16]:
model = LogisticRegression()

In [17]:
model.fit(x_train_features,y_train)

LogisticRegression()

In [18]:
from sklearn.metrics import accuracy_score

prediction_on_training_data = model.predict(x_train_features)
acccuracy_on_training_data = accuracy_score(y_train, prediction_on_training_data)

In [19]:
print(acccuracy_on_training_data)

0.006282252636302446

In [20]:
prediction_on_test_data = model.predict(x_test_features)
acccuracy_on_test_data = accuracy_score(y_test, prediction_on_test_data)

In [21]:
print(acccuracy_on_test_data)

0.0053811659192825115

In [22]:
input_your_mail = [""]

input_data_features = feature_extraction.transform(input_your_mail)

prediction = model.predict(input_data_features)

print(prediction)

if(prediction[0] == 1):
    print('Ham mail')

    
else:
    print('spam mail')

["Sorry, I'll call later"]
spam mail